{% extends 'home.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<section class="destaque">
    <div class="bxslider">
        <div>
            <img src="{{ asset("img/destaque/destaque0001.jpg") }}"
                alt="HireBandOnline" class="img-responsive" />
        </div>
        <div>
            <img src="{{ asset("img/destaque/destaque0002.jpg") }}"
                 alt="HireBandOnline" class="img-responsive" />
        </div>
        <div>
            <img src="{{ asset("img/destaque/destaque0003.jpg") }}"
                 alt="HireBandOnline" class="img-responsive" />
        </div>
        <div>
            <img src="{{ asset("img/destaque/destaque0004.jpg") }}"
                 alt="HireBandOnline" class="img-responsive" />
        </div>
        <div>
            <img src="{{ asset("img/destaque/destaque0005.jpg") }}"
                 alt="HireBandOnline" class="img-responsive" />
        </div>
        <div>
            <img src="{{ asset("img/destaque/destaque0006.jpg") }}"
                 alt="HireBandOnline" class="img-responsive" />
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function(){
        $('.bxslider').bxSlider({
            mode: "fade",
            auto: true,
            pager: false,
            controls: false
        });
    });
</script>
{% endblock %}
