{% extends 'base.html.twig' %}

{% block title %}Musico{% endblock %}

{% block body %}
    <h1>Musico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ musico.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ musico.nome }}</td>
            </tr>
            <tr>
                <th>Historia</th>
                <td>{{ musico.historia }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('musico_index') }}">back to list</a>

    <a href="{{ path('musico_edit', {'id': musico.id}) }}">edit</a>

    {{ include('musico/_delete_form.html.twig') }}
{% endblock %}