{% extends 'home.html.twig' %}

{% block title %} - Busca por Musicos{% endblock %}
{% block bodyClass %}home interna{% endblock %}

{% block body %}
    <section class="internas text-center" style="background-image: url({{ asset("img/internas/internas.jpg") }});">
        <span class="font-30">Busca por Musicos</span>
    </section>
    <section class="buscar-musicos mt-20">
        <div class="container">
            <div class="row">
                <div class="filtro col-12 col-md-3">
                    <fieldset class="mb-10">
                        <legend>Filtro</legend>
                        <form action="{{ path("buscar_musico_filtro") }}" method="post">
                            <label for="nome">por Nome</label>
                            <input type="text" id="nome" name="nome"
                            {% if filtro.nome is defined %}
                                value="{{ filtro.nome }}"
                            {% endif %}
                            />
                            <label for="categoria">por Categoria</label>
                            <select name="categoria" id="categoria"
                            {% if filtro.categoria is defined %}
                                data-selected="{{ filtro.categoria }}"
                            {% endif %}
                            >
                            </select>
                            <button class="btn btn-hire">
                                Buscar
                            </button>
                        </form>
                    </fieldset>
                </div>
                <div class="musicos col-12 col-md-9">
                    <div class="row">
                    {% for musico in musicos %}
                        <div class="musico col-12 col-md-4 mb-20">
                            <div class="capsula">
                                <div class="imagem">
                                    {% if musico.imagem is null %}
                                        <img src="{{ asset("img/usuario.jpg") }}" alt="HireBandOnline"
                                        class="img-responsive" />
                                    {% else %}
                                        <img src="{{ musico.imagem }}" alt="HireBandOnline"
                                        class="img-responsive" />
                                    {% endif %}
                                </div>
                                <div class="conteudo col-12">
                                    <div class="nome font-20 mb-10 text-center">{{ musico.nome }}</div>
                                    <div class="historia font-13 mb-10 text-justify">{{ musico.historia|striptags }}</div>
                                    <div class="botao mb-10 text-center">
                                        <a href="{{ path('musico_show', {'id': musico.id}) }}" class="btn btn-hire">Saiba Mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if musicos is empty %}
                        <p class="col-12 font-20 text-center">-- Sem musicos --</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            buscarCategoriasJson();
        });
    </script>
{% endblock %}
