{% extends 'home.html.twig' %}

{% block title %} - Busca por Estabelecimentos{% endblock %}
{% block bodyClass %}home interna{% endblock %}

{% block body %}
    <section class="internas text-center" style="background-image: url({{ asset("img/internas/internas.jpg") }});">
        <span class="font-30">Busca por Estabelecimentos</span>
    </section>
    <section class="buscar-estabelecimentos mt-20">
        <div class="container">
            <div class="row">
                <div class="filtro col-12 col-md-3">
                    <fieldset class="mb-10">
                        <legend>Filtro</legend>
                        <form action="{{ path("buscar_estabelecimento_filtro") }}" method="post"
                        id="buscar-estabelecimento">
                            <label for="nome">por Nome</label>
                            <input type="text" id="nome" name="nome"
                            {% if filtro.nome is defined %}
                                value="{{ filtro.nome }}"
                            {% endif %}
                            />
                            <label for="estado">seu Estado</label>
                            <select id="estado" name="estado"></select>
                            <label for="cidade">sua Cidade</label>
                            <select id="cidade" name="cidade"></select>
                            <label for="bairro">seu Bairro</label>
                            <select id="bairro" name="bairro"></select>
                            </select>
                            <button class="btn btn-hire">
                                Buscar
                            </button>
                        </form>
                    </fieldset>
                </div>
                <div class="estabelecimentos col-12 col-md-9">
                    <div class="row">
                        {% for estabelecimento in estabelecimentos %}
                            <div class="estabelecimento col-12 col-md-4 mb-20">
                                <div class="capsula">
                                    <div class="imagem">
                                        <img src="{{ asset("img/usuario.jpg") }}" alt="HireBandOnline"
                                        class="img-responsive" />
                                    </div>
                                    <div class="conteudo col-12">
                                        <div class="nome font-20 mb-10 text-center">{{ estabelecimento.nome }}</div>
                                        <div class="historia font-13 mb-10 text-justify">{{ estabelecimento.historia|striptags }}</div>
                                        <div class="botao mb-10 text-center">
                                            <a href="javascript:void(0);" class="btn btn-hire">Saiba Mais</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if estabelecimentos is empty %}
                            <p class="col-12 font-20 text-center">-- Sem estabelecimentos --</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            buscarEstadosJson();

            $("select#estado").on("change", function(){
                buscarCidadesJson($(this).val());
            });

            $("select#cidade").on("change", function(){
                buscarBairrosJson($(this).val());
            });

            $("#buscar-estabelecimento").on("submit", function(event){
               event.preventDefault();
               $form = $(this);
               $selectBairro = $form.find("select#bairro");

               if(
                   $form.find("input#nome").val() == "" &&
                   (
                        $selectBairro.val() == null ||
                        $selectBairro.val() == ""
                   )
               ){
                   alert("Informe o Nome e/ou o Bairro do estabelecimento!");
                   $selectBairro.focus();
               }else{
                   $form.unbind().submit();
               }
            });
        });
    </script>
{% endblock %}
